<div class="flex justify-center">
  <div class="container columns-2 flex justify-between">
    <div class="flex flex-col item-center">
      <div class="bg-white rounded-xl w-64 h-auto p-3 flex flex-col items-start">
        <div 
          (click)="showFilterAuthors = !showFilterAuthors"
          class="w-full flex justify-between items-center"
        >
          <h3 
            class="text-sm uppercase text-left text-gray-400 font-bold"
          >
            Авторы
          </h3> 
          <div 
            class="chevron"
            [class.chevron-active]="showFilterAuthors"
          >
            <span></span><span></span>
          </div>
        </div>
        <div 
          *ngIf="showFilterAuthors"
          class="mt-2 flex flex-col items-start w-full"
        >
          <div 
            class="text-sm leading-7 w-full" 
            [class.font-bold]="activeAuthor === 0"
            (click)="filter('all', 0)"
          >
            Все
          </div>
          <div 
            class="text-sm leading-7 w-full"
            [class.font-bold]="author.id === activeAuthor"
            *ngFor="let author of authors; let i = index"
            (click)="filter(author.firstName + ' ' + author.lastName, author.id)"
          >{{ author.firstName + ' ' + author.lastName }}
          </div>
        </div>
      </div>
      <a routerLink="/add-book">
        <button 
          class="w-64 text-sm bg-white h-auto p-2 rounded-xl mt-10 uppercase text-gray-500 flex justify-center items-center">
          Добавить книгу 
          <span class="ml-2 text-xl font-medium mb-1">+</span>
        </button>
      </a>
      <a routerLink="/add-author">
        <button 
          class="w-64 text-sm bg-white h-auto p-2 rounded-xl mt-3 uppercase text-gray-500 flex justify-center items-center">
          Добавить автора 
          <span class="ml-2 text-xl font-medium mb-1">+</span>
        </button>
      </a>
    </div>
    <div class="flex justify-start items-start w-full flex-wrap">
      <!-- <div class="flex justify-center items-start" 
        *ngIf="books$ | async as books"> -->
        <div class="flex flex-col justify-center items-start w-44 mx-3" 
          *ngFor="let book of books | filterBooks: filterService.filterBooks$.value | filterAuthor: filterService.filterAuthor$.value; let i = index"
        >
          <a 
            routerLink="/detail/{{ book.id }}"
          >
            <img *ngIf="book.picture !== ''" class="h-60 overflow-hidden" [src]="'../../../assets/img/'+ book.picture +'.jpg'" alt="book">
            <app-image-not-found 
              *ngIf="book.picture === ''"
            ></app-image-not-found>
          </a>
          <a 
            routerLink="/detail/{{ book.id }}"
            class="w-full"
          >
            <h3 class="text-center w-full pt-2 font-bold text-sm">{{ book.title }}</h3>
          </a>
          <a 
            routerLink="/author/{{ book.author }}"
            class="w-full"
          >
            <h4 class="text-center w-full pt-1 font-light text-xs text-gray-400">{{ book.author }}</h4>
          </a>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>